:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.m_dc6a3c71 {
  font-size: var(--mantine-font-size-sm) !important;
}

.m_dc6a3c71:where([data-selected]) {
  background-color: var(--mantine-primary-color-filled) !important;
}

.m_dc6a3c71:where([data-in-range]) {
  background-color: var(--mantine-primary-color-light-hover) !important;
}

.m_6fa5e2aa {
  cursor: pointer !important;
}
